@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
table {
  table-layout: fixed;
  width: 100%;
}

th, td {
  min-width: 150px;
  word-wrap: break-word;
  overflow: hidden;
}
